<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Boolflix</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap"
      rel="stylesheet"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.1.2/handlebars.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
      integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Lato&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div id="app">
      <header>
        <div class="container">
          <img class="boolflix" src="./png/boolflix.png" alt="" />
          <input
            @keyup.enter="searchFilm"
            type="text"
            v-model="search"
            name=""
            value=""
            placeholder="Cerca"
          />
        </div>
      </header>
      <h2 class="container mt-15">GUARDA FILM</h2>
      <div class="tvs-container container">
        <div class="tv" v-for="tv in filmTv">
          <div class="overlay">
            <div class="info">
              <h3>{{ tv.title }}</h3>
              <p class="original-title">{{ tv.original_title }}</p>
              <span class="stars">
                <i v-for="star in tv.vote_average" class="fas fa-star"></i
                ><i v-for="star in 5-tv.vote_average" class="far fa-star"></i>
              </span>
              <!-- <p class="vote-average">{{ tv.vote_average }}</p> -->
              <p class="overview">overview: {{ tv.overview }}</p>
              <div class="flags">
                <img v-if="flag.includes(tv.original_language)"
                :src=`./png/${tv.original_language}.png` alt="">
                <p v-else class="original-language">
                  {{ tv.original_language }}
                </p>
              </div>
            </div>
          </div>
          <img src="./png/1-10.png" alt="" v-if="tv.poster_path == null" />
          <img :src=`https://image.tmdb.org/t/p/w342${tv.poster_path}` alt=""
          v-else>
        </div>
      </div>
      <h2 class="container mt-15">GUARDA SERIE TV</h2>
      <div class="tvs-container container">
        <div class="tv" v-for="tv in serieTv">
          <div class="overlay">
            <div class="info">
              <h3>{{ tv.name }}</h3>
              <p class="original-title">{{ tv.original_name }}</p>
              <!-- <p class="vote-average">{{ tv.vote_average }}</p> -->
              <p class="overview">overview: {{ tv.overview }}</p>
              <p class="original-language">{{ tv.original_language }}</p>
              <span class="stars">
                <i v-for="star in tv.vote_average" class="fas fa-star"></i
                ><i v-for="star in 5-tv.vote_average" class="far fa-star"></i>
              </span>
              <div>
                <img v-if="flag.includes(tv.original_language)" class="flags"
                :src=`./png/${tv.original_language}.png` alt="">
                <p v-else class="original-language">
                  {{ tv.original_language }}
                </p>
              </div>
            </div>
          </div>
          <img src="./png/1-10.png" alt="" v-if="tv.poster_path == null" />
          <img :src=`https://image.tmdb.org/t/p/w342${tv.poster_path}` alt=""
          v-else>
        </div>
      </div>
    </div>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="main.js" charset="utf-8"></script>
  </body>
</html>
