<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Boolflix</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.1.2/handlebars.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
      integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Lato&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div id="app">
      <header>
        <div class="container">
          <img class="boolflix" src="./png/boolflix.png" alt="" />
          <input
            @keyup.enter="searchFilm(search)"
            type="text"
            v-model="search"
            name=""
            value=""
            placeholder="Cerca"
          />
        </div>
      </header>

      <div class="tvs-container container">
        <div class="tv" v-for="tv in filmTv">
          <img class="tv"
          :src=`https://image.tmdb.org/t/p/w342${tv.poster_path}` alt="">
          <div class="info">
            <h3>{{ tv.title }}</h3>
            <span class="original-title">{{ tv.original_title }}</span>
            <span class="original-language">{{ tv.original_language }}</span>
            <span class="vote-average">{{ tv.vote_average }}</span>
          </div>

          <img class="flags"
          :src=`https://www.countryflags.io/${tv.original_language}/shiny/64.png`
          alt="">

          <span class="stars info">
            <i v-for="star in tv.vote_average" class="fas fa-star"></i
            ><i v-for="star in 5-tv.vote_average" class="far fa-star"></i>
          </span>
        </div>
      </div>
      <div class="tvs-container container">
        <div class="tv" v-for="tv in serieTv">
          <img :src=`https://image.tmdb.org/t/p/w342${tv.poster_path}` alt="">
          <div class="info">
            <h3>{{ tv.name }}</h3>
            <span class="original-title">{{ tv.original_name }}</span>
            <span class="original-language">{{ tv.original_language }}</span>
            <span class="vote-average">{{ tv.vote_average }}</span>
          </div>

          <img class="flags"
          :src=`https://www.countryflags.io/${tv.original_language}/shiny/64.png`
          alt="">

          <span class="stars info">
            <i v-for="star in tv.vote_average" class="fas fa-star"></i
            ><i v-for="star in 5-tv.vote_average" class="far fa-star"></i>
          </span>
        </div>
      </div>
    </div>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="main.js" charset="utf-8"></script>
  </body>
</html>
