* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #111314;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
}

.container {
  height: 100%;
  color: rgb(0, 0, 0);
  margin: 0 auto;
  width: 90%;
}

header {
  width: 100%;
  height: 80px;
  background: rgb(0 2 4);
}
header h3 {
  padding-top: 5px;
  color: red;
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
input {
  align-items: baseline;
  width: 250px;
  height: 30px;
  border-radius: 5px;
  background-color: #fff5f5;
}
.boolflix {
  margin-left: 40px;
}

.tvs-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px;
}

.tv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin: 3px;
  width: 200px;
  height: 350px;
  position: relative;
  border-radius: 10px;
}
.tv:hover {
  transform: scale(1.2);
  transition: 1s ease;
  border-radius: 10px;
  z-index: 2;
  box-shadow: 0 0 10px rgb(233, 226, 226);
}

.flags > img {
  width: 30%;
}
.info {
  width: 100%;
  height: 100%;
  padding: 10px;
  font-size: 12px;
  position: absolute;
  top: 0;
  left: 0;
  color: white;
}
.overlay {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(39, 37, 37);
}
.tv:hover .overlay {
  display: block;
  border-radius: 10px;
}

.tv > img {
  width: 200px;
  height: 350px;
  border-radius: 10px;
}

/* .tv span.author {
  color: grey;
  font-size: 20px;
}

.tv span.year {
  color: grey;
  height: 10%;
}
 */
.mt-15 {
  margin-top: 15px;
  color: white;
}
.overview {
  overflow-y: auto;
  height: 50%;
}
::-webkit-scrollbar {
  width: 13px;
  height: 13px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(13deg, #817d81 14%, #57585a 64%);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(13deg, #838386 14%, #615e61 64%);
}
::-webkit-scrollbar-track {
  background: #c0bebe;
  border-radius: 10px;
  box-shadow: inset 3px 5px 6px #bebaba;
}
